# Ignore all .png files
*.png

# Ignore all .txt files except requirements.txt
*.txt
!requirements.txt 

# Ignore all .md files except README.md
*.md
!README.md

# Ignore data files
*.csv
*.xlsx
*.xls

# Ignore office documents
*.docx
*.doc
*.pptx
*.ppt